{%extends "layout.html"%}
{% block content%}
<section class="container content">
    <div class="page bg-light py-5">
        <div class="container text-center">
            <div class="row">
                {% for founder in founders %}
                <div class="col-md-4 mb-4">
                    <img src="{{url_for('static', filename=founder.image)}}" class="img-fluid rounded-circle" alt="Person 1">
                    <h3>{{founder.name}}</h3>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
