{% extends "layout.html"%}
{% block content%}
<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between text-center">
            <div class="text-center">
                <h1 class="mt-10 text-center"> To Sell <span class="bg-purple text-info" style="text-align:center; padding-top: 100px;" > Everything</span></h1>
                <p class="lead mx-20 center-text font-weight-bold "  >
                    Shopping online and buy everything you need &#128522;
                </p>
            </div>

            <img class="img-fluid w-50 d-none d-sm-block" src="{{url_for('static', filename='showcase.svg')}}" alt="">
        </div>
    </div>
</section>
<!-- categories -->
<section class="bg-ligh">
    <div class="container p-5 wrapper lex-grow-1">
        <div class="box-with-centered-border" style="margin-left: 100px;">
        <h3 class="text-center text-secondary bg-dark text-info" id='learn' >Categories</h3>
        </div>
        <div class="row">
            {% for category in categories %}
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex align-items-stretch">
                <a href="#category_name" class="text-decoration-none">
                    <div class="card text-light">
                        <div class="card-body text-center">
                            <img src="{{url_for('static', filename=category.icon)}}" alt="" class="card-img w-70" style="width: 100%; border-radius: 40px; padding-top: 10px; margin-top:30px;">
                            <h4 class="card-title mb-4">
                                {{category.name}}
                            </h4>
                            <p class="card-text font-weight-bold bold-text">{{category.description}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content%}