<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Scope</title>
    <link rel="icon" type="images/x-icon" href="images.jpeg" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<header>
    <a href="index.html" class="sp"> <h1><span>w</span>orld <span>s</span>cope</h1></a>
    <div class="search-box">
        <form action="">
            <input type="search" name="search" id="srch" placeholder="search here" autocomplete="off">
            <button type="submit"> <i class="fa fa-search"></i></button>
        </form>
    </div>
    <ul>
        <li class="hed"><a href="index.html"> Home</a></li>
        <li class="hed"><a href="">Local</a>
            <div class="hedd" id="int">
              <a href="sports-local.html">Sport</a>
              <a href="health-local.html">Health</a>
              <a href="political-local.html">Political</a>
            </div>
        </li>
        <li class="hed"><a href="">International</a>
            <div class="hedd" id="int">
                <a href="sports-inter.html">Sport</a>
                <a href="health-inter.html">Health</a>
                <a href="political-inter.html">Political</a>
            </div>
        </li>
    </ul>
</header>
<section>   
<div class="page">
    <h2 style="color: black; font-size: 20px;padding-top: 20px;padding-left: 18px;">Welcome To World Scope.com</h2>
    <div class="container">
        <div class="box3">
            <a href="palastin.html">
            <img src="palastin.jpeg" alt="Description of the image" style="width: 620px;">
            <div style="direction: rtl; padding-right: 10px; padding-top: 20px;">
                <h2>حرب غزة: "أين أمي، أين جدتي وعائلتي، أين ذهبوا؟"</h2>
            </div></a>
        </div>
        <div class="row" style="flex-direction: row;">
    <div class="container2">
        <div class="box2">
            <a href="Zion.html">
            <img src="Sports-inter/Zion.jpeg" alt="Description of the image">
            <div class="text2" style="padding-left: 10px;">
                <h2>Born without legs, Zion Clark is now a wrestler, MMA fighter and Olympic hopeful</h2>
            </div></a>
        </div>
        <div class="box2">
            <a href="cop28.html">
            <img src="Political-inter/cop281.jpg" alt="Description of the image">
            <div class="text2" style="padding-left: 10px;">
                <h2>Pacific Islands lash out at COP28: ‘We weren’t in the room’ for final deal</h2>
            </div>
        </div></a>
    </div>
    <div class="container2">
        <div class="box2">
            <a href="blood.html">
            <img src="Health-Local/1.jpg" alt="Description of the image" style="width: 320px;">
            <div class="text2"  style="direction: rtl; padding-right: 10px;">
                <h2>تحليل دم "يكشف شيخوخة" أعضاء الجسم البشري</h2>
            </div></a>
        </div>
        <a href="#">
        <div class="box2">
            <img src="health-inter/1.jpg" alt="Description of the image" >
            <div class="text2"  style="padding-left: 10px;">
                <h2>It’s not too late to get vaccinated, as the holidays – and respiratory virus season – ramp up</h2>
            </div>
        </div>
    </a>
    </div>
</div>   
</div>
<div class="container">
    <div class="box">
        <a href="#">
        <img src="health-inter/4.jpg" alt="Description of the image">
        <div style="padding-left: 10px;">
            <h2>Three dead in outbreak of Rocky Mountain spotted fever, CDC warns</h2>
        </div></a>
    </div>
    <div class="box">
        <a href="#">
        <img src="health-inter/5.jpg" alt="Description of the image">
        <div style="padding-left: 10px;">
            <h2>3 Weeks After Giving Birth To Twins, Mom Felt Sick – When Doctor Sees Ultrasound He Says: “I’m Sorry”</h2>
        </div></a>
    </div>
    <div class="box">
        <a href="#">
        <img src="health-inter/6.jpg" alt="Description of the image">
        <div style="padding-left: 10px;">
            <h2>An Unsettling Diagnosis: Mother of Newborn Twins Gets Apology from Doctor After Ultrasound Revelation</h2>
        </div></a>
    </div>
</div>
<div class="container">
    <div class="box">
        <a href="#">
        <img src="Sports-inter/sports4.jpg" alt="Description of the image">
        <div style="padding-left: 10px;">
            <h2>North Korean striker scores in World Cup qualifier after vanishing from world soccer for over three years</h2>
        </div>
    </a>
    </div>
    <div class="box">
        <a href="#">
        <img src="Sports-inter/sports5.jpg" alt="Description of the image">
        <div style="padding-left: 10px;">
            <h2>Cristiano Ronaldo stars on his 1,200th professional game</h2>
        </div>
    </a>
    </div>
    <div class="box">
        <a href="#">
        <img src="Sports-inter/sports6.jpg" alt="Description of the image">
        <div style="padding-left: 10px;">
            <h2>Aston Villa defeats Arsenal and Manchester City in same week</h2>
            
        </div>
    </a>
    </div>
</div>
<div class="container">
    <div class="box">
        <a href="#">
        <img src="Political-inter/4.jpg" alt="Description of the image">
        <div style="padding-left: 10px;">
            <h2>Sunak is 'open' to tightening refugee deportation law to Rwanda</h2>
        </div>
    </a>
    </div>
    <div class="box">
        <a href="#">
        <img src="Political-inter/5.jpg" alt="Description of the image">
        <div style="padding-left: 10px;">
            <h2>The European Union announces its decision regarding Ukraine's accession negotiations</h2>
        </div>
    </a>
    </div>
    <div class="box">
        <a href="#">
        <img src="Political-inter/6.jpg" alt="Description of the image">
        <div style="padding-left: 10px;">
            <h2>Russia targets Kiev after Putin pledges "victory" in Ukraine</h2>
            
        </div>
        </a>
    </div>
</div>
<div class="container">
    <div class="box">
        <a href="blood.html">
        <img src="Health-Local/1.jpg" alt="Description of the image" >
        <div style="direction: rtl; padding-right: 10px;">
            <h2>تحليل دم "يكشف شيخوخة" أعضاء الجسم البشري</h2>
        </div>
    </a>
    </div>
    <div class="box">
        <a href="#">
        <img src="Health-Local/WhatsApp Image 2023-12-14 at 10.12.37 PM.jpeg" alt="Description of the image">
        <div class="text"style="direction: rtl; padding-right: 10px;">
            <h2>الصحة تعقد اجتماعا مع نظيرتها التركية لبحث تعزيز سبل التعاون المشترك</h2>
        </div>
    </a>
    </div>
    <div class="box">
        <a href="#">
        <img src="Health-Local/WhatsApp Image 2023-12-14 at 10.12.49 PM.jpeg" alt="Description of the image">
        <div class="text"style="direction: rtl; padding-right: 10px;">
            <h2>مسؤول مبادرة الكشف المبكر عن الأورام: نستهدف علاج 4 أنواع من السرطان</h2>
        </div>
    </a>
    </div>
    <div class="box">
        <a href="#">
        <img src="Health-Local/WhatsApp Image 2023-12-14 at 10.13.47 PM.jpeg" alt="Description of the image">
            <div class="text"style="direction: rtl; padding-right: 10px;">
                <h2>إشادة بالفرق الطبية بالقنطرة شرق بعد اكتشاف حالات مصابة بين الناخبين</h2>
                
            </div>
        </a>
        </div>
</div>
<div class="container">
    <div class="box">
        <a href="#">
        <img src="Sports-local/1.jpg" alt="Description of the image" class="as">
        <div class="text"style="direction: rtl; padding-right: 10px;">
           <h2>الأهلى يفوز علي الاتحاد السكندرى ويصعد لنهائي دورى السلة</h2>
        </div>
    </a>
    </div>
<div class="box">
        <a href="#">
        <img src="Sports-local/2.jpg" alt="Description of the image">
        <div class="text"style="direction: rtl; padding-right: 10px;">
            <h2>منافسة قوية بين مصر والجزائر في البطولة العربية للدراجات بالقاهرة</h2>
        </div>
    </a>
    </div>
<div class="box">
        <a href="#">
        <img src="Sports-local/3.jpg" alt="Description of the image">
        <div class="text"style="direction: rtl; padding-right: 10px;">
            <h2>منتخب مصر يفوز علي سيراليون (2 - 0) في تصفيات كأس العالم</h2>
        </div>
    </a>
    </div>
</div>
<div class="container">
    <div class="box">
        <a href="#">
        <img src="Political-Local\WhatsApp Image 2023-12-14 at 7.34.50 PM.jpeg" alt="Description of the image">
        <div class="text"style="direction: rtl; padding-right: 10px;">
            <h2>أستاذ علوم سياسية: حالة من التغير الكبير فى الموقف الأمريكى تجاه دعم إسرائيل</h2>
        </div>
    </a>
    </div>
    <div class="box">
        <a href="#">
        <img src="Political-Local\WhatsApp Image 2023-12-14 at 7.35.28 PM.jpeg" alt="Description of the image">
        <div class="text"style="direction: rtl; padding-right: 10px;">
            <h2>القانون يمنح تعويضا للموظف حال الإصابة أثناء العمل</h2>
        </div>
    </a>
    </div>
    <div class="box">
        <a href="#">
        <img src="Political-Local\WhatsApp Image 2023-12-14 at 7.29.33 PM.jpeg" alt="Description of the image">
        <div class="text"style="direction: rtl; padding-right: 10px;">
            <h2>طارق فهمى: الانتخابات الرئاسية عززت فرصة تفاعل الأحزاب مع الشارع المصرى</h2>
            
        </div>
    </a>
    </div>
</div>
</section>
    <footer>
        <p class="footer-text">&copy; 2023 World Scope</p>
        <a href="#"> <i class="fab fa-facebook" id="fa"></i></a>
        <a href="#"> <i class="fab fa-twitter" id="tw"></i></a>
        <a href="#"> <i class="fab fa-instagram" id="ins"></i></a>
    </footer>
</body>
</html>